<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" action="/Name.cshtml">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
